#header{
    background-color: #1a3e59;
    color: #fff;
    box-shadow: 0 2px 2px 3px #a79595;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#header h2{
    margin-bottom: 20px;
}

.logo{
    padding-top: 15px;
}    