
<div class="container-fluid">
    <app-header (parentEmitter)="parentMethod()"></app-header>

    <div class="container content-area">
        <!-- loader -->
        <div class="loader" *ngIf='loader'>
            <fa  name="spinner" size="5x"  class="spinner" animation="spin"></fa>
        </div>

        <!-- after loading display -->
        <div *ngIf='!loader'>
            <div  class="row action">
                <span class='count-heading'>Total count :<span class="count"> {{ totalCount}}</span></span>
                <button class="btn btn-primary pull-right" [disabled]='dataCount.length<2' (click)="multipleDelete()"> Multiple Delete</button>
                <span class="pull-right planet-selected">Total Selected : {{dataCount.length}}</span>
                <span class="pull-right planet-selected"> Total Displayed: {{allPlanets.length}}</span>
            </div>

            <!-- Card of Planet -->
            <div *ngFor = "let planet of allPlanets; let i=index">
                <div class="row planet-container col-md-5">
                    <label>
                        <input class="form-check-input" type="checkbox" value="i" (click)="checkBox($event,i)" />
                    </label>
                    <h4 class="planet-name" uppercase>{{planet.name}} </h4>
                    <span class="diameter">Diameter: {{planet.diameter}}  <fa class="pull-right delete" name="trash-o" tooltip='Delete' size="1x" (click)="delete(i)"></fa> 
                    <span class="pull-right seperator">|</span>
                    <fa class="pull-right eye" name="eye" size="1x"  tooltip='View' (click)="view(i)"></fa></span>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <!-- load more -->
            <div class="row text-center load-more">
                <button class="btn btn-primary" (click)=loadMore()>Load More</button>
            </div>

        </div>
    </div> 
    <!-- end container-area -->

    <!-- Create model -->
    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Create Planet</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form #planetForm="ngForm" >
                    <div class="form-group"> 
                        <label for="name">Name: </label>
                        <input class="form-control" type="text" name="name" [(ngModel)]="planetAttributes.name" #name="ngModel" required>
                        <small id="emailHelp" class="form-text text-muted">Name field is required, Please Fill</small>
                        <div [hidden]="name.valid || name.pristine" class="error">
                        Name is required!
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rotation">Rotation Period: </label>
                        <input class="form-control" type="number" name="rotation" [(ngModel)]="planetAttributes.rotation_period">
                    </div>
                    <div class="form-group">
                        <label for="period">Oribital Period: </label>
                        <input class="form-control" type="number" name="period" [(ngModel)]="planetAttributes.orbital_period">
                    </div>
                    <div class="form-group">
                        <label for="diameter">Diameter: </label>
                        <input class="form-control" type="number" name="diameter" [(ngModel)]="planetAttributes.diameter">
                    </div>
                    <div class="form-group">
                        <label for="climate">Climate: </label>
                        <input class="form-control" type="text" name="climate" [(ngModel)]="planetAttributes.climate">
                    </div>
                    <div class="form-group">
                        <label for="gravity">Gravity: </label>
                        <input class="form-control" type="text" name="gravity" [(ngModel)]="planetAttributes.gravity">
                    </div>
                    <div class="form-group">
                        <label for="terrain">Terrian: </label>
                        <input class="form-control" type="text" name="terrain" [(ngModel)]="planetAttributes.terrain">
                    </div>
                    <div class="form-group">
                        <label for="surface_water">Surface Water: </label>
                        <input class="form-control" type="number" name="surface_water" [(ngModel)]="planetAttributes.surface_water">
                    </div>
                    <div class="form-group">
                        <label for="population">Population: </label>
                        <input class="form-control" type="number" name="population" [(ngModel)]="planetAttributes.population">
                    </div>
                    <div class="form-group">
                        <label for="residents">Residents: </label>
                        <input class="form-control" type="text" name="residents" [(ngModel)]="planetAttributes.residents">
                    </div>
                    <div class="form-group">
                        <label for="flims">Flims: </label>
                        <input class="form-control" type="text" name="flims" [(ngModel)]="planetAttributes.films">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class='btn btn-primary' [disabled]="!planetForm.form.valid" (click)="submit() ==1?planetForm.reset():'';">Save</button>
                        <button type="button" class="btn btn-secondary " (click)="hideChildModal()">Close</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    <!-- View Planet Model -->
    <div bsModal #planetViewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Planet Detail</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hidePlanetViewModal()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">        
                    <div class="list-group" *ngIf="individualData">
                        <div class="list-group-item">Name : <span class="field"> {{individualData.name}}</span></div>
                        <div class="list-group-item">Rotation Period : <span class="field"> {{individualData.rotation_period}}</span></div>
                        <div class="list-group-item">Orbital Period :  <span class="field">{{individualData.orbital_period}}</span></div>
                        <div class="list-group-item">Diameter :  <span class="field">{{individualData.diameter}}</span></div>
                        <div class="list-group-item">Climate : <span class="field">{{individualData.climate}}</span></div>
                        <div class="list-group-item">Gravity : <span class="field">{{individualData.gravity}}</span></div>
                        <div class="list-group-item">Tettain : <span class="field">{{individualData.terrain}}</span></div>
                        <div class="list-group-item">Surface Water : <span class="field">{{individualData.surface_water}}</span></div>
                        <div class="list-group-item">Population : <span class="field">{{individualData.population}}</span></div>
                        <div class="list-group-item">Residents : <span class="field">{{individualData.residents}}</span></div>
                        <div class="list-group-item">Flims : <span class="field">{{individualData.films}}</span></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " (click)="hidePlanetViewModal()">Close</button>
                </div>
                      
            </div>
        </div>
    </div>
          
</div>

